<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="core/nosql-sources.xml"/>
	<import resource="core/loaders.xml" />
	<import resource="core/spark-config.xml" />
	<import resource="core/attribution.xml"/>
   
</beans>

































